src/main/java/com/cgwx/webhdfs/WebServiceClient/FileOp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServiceServer.webhdfs.cgwx.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServiceServer.webhdfs.cgwx.com/" name="FileOp">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServiceServer.webhdfs.cgwx.com/" schemaLocation="http://localhost:8080/services/FileOp?xsd=1"/>
</xsd:schema>
</types>
<message name="createFile">
<part name="parameters" element="tns:createFile"/>
</message>
<message name="createFileResponse">
<part name="parameters" element="tns:createFileResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="getUnderDirAllFile">
<part name="parameters" element="tns:getUnderDirAllFile"/>
</message>
<message name="getUnderDirAllFileResponse">
<part name="parameters" element="tns:getUnderDirAllFileResponse"/>
</message>
<message name="findLocationOnHadoop">
<part name="parameters" element="tns:findLocationOnHadoop"/>
</message>
<message name="findLocationOnHadoopResponse">
<part name="parameters" element="tns:findLocationOnHadoopResponse"/>
</message>
<message name="watchFileLastModifyTime">
<part name="parameters" element="tns:watchFileLastModifyTime"/>
</message>
<message name="watchFileLastModifyTimeResponse">
<part name="parameters" element="tns:watchFileLastModifyTimeResponse"/>
</message>
<message name="uploadFile">
<part name="parameters" element="tns:uploadFile"/>
</message>
<message name="uploadFileResponse">
<part name="parameters" element="tns:uploadFileResponse"/>
</message>
<message name="deleteFile">
<part name="parameters" element="tns:deleteFile"/>
</message>
<message name="deleteFileResponse">
<part name="parameters" element="tns:deleteFileResponse"/>
</message>
<message name="getNodeMsgHdfs">
<part name="parameters" element="tns:getNodeMsgHdfs"/>
</message>
<message name="getNodeMsgHdfsResponse">
<part name="parameters" element="tns:getNodeMsgHdfsResponse"/>
</message>
<message name="findFileIsExit">
<part name="parameters" element="tns:findFileIsExit"/>
</message>
<message name="findFileIsExitResponse">
<part name="parameters" element="tns:findFileIsExitResponse"/>
</message>
<message name="downloadFile">
<part name="parameters" element="tns:downloadFile"/>
</message>
<message name="downloadFileResponse">
<part name="parameters" element="tns:downloadFileResponse"/>
</message>
<message name="getFileMetaData">
<part name="parameters" element="tns:getFileMetaData"/>
</message>
<message name="getFileMetaDataResponse">
<part name="parameters" element="tns:getFileMetaDataResponse"/>
</message>
<message name="createDirOnHDFS">
<part name="parameters" element="tns:createDirOnHDFS"/>
</message>
<message name="createDirOnHDFSResponse">
<part name="parameters" element="tns:createDirOnHDFSResponse"/>
</message>
<message name="renameFile">
<part name="parameters" element="tns:renameFile"/>
</message>
<message name="renameFileResponse">
<part name="parameters" element="tns:renameFileResponse"/>
</message>
<message name="loadFile">
<part name="parameters" element="tns:loadFile"/>
</message>
<message name="loadFileResponse">
<part name="parameters" element="tns:loadFileResponse"/>
</message>
<portType name="FileOp">
<operation name="createFile">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/createFileRequest" message="tns:createFile"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/createFileResponse" message="tns:createFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/createFile/Fault/IOException"/>
</operation>
<operation name="getUnderDirAllFile">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/getUnderDirAllFileRequest" message="tns:getUnderDirAllFile"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/getUnderDirAllFileResponse" message="tns:getUnderDirAllFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/getUnderDirAllFile/Fault/IOException"/>
</operation>
<operation name="findLocationOnHadoop">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/findLocationOnHadoopRequest" message="tns:findLocationOnHadoop"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/findLocationOnHadoopResponse" message="tns:findLocationOnHadoopResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/findLocationOnHadoop/Fault/IOException"/>
</operation>
<operation name="watchFileLastModifyTime">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/watchFileLastModifyTimeRequest" message="tns:watchFileLastModifyTime"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/watchFileLastModifyTimeResponse" message="tns:watchFileLastModifyTimeResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/watchFileLastModifyTime/Fault/IOException"/>
</operation>
<operation name="uploadFile">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/uploadFileRequest" message="tns:uploadFile"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/uploadFileResponse" message="tns:uploadFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/uploadFile/Fault/IOException"/>
</operation>
<operation name="deleteFile">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/deleteFileRequest" message="tns:deleteFile"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/deleteFileResponse" message="tns:deleteFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/deleteFile/Fault/IOException"/>
</operation>
<operation name="getNodeMsgHdfs">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/getNodeMsgHdfsRequest" message="tns:getNodeMsgHdfs"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/getNodeMsgHdfsResponse" message="tns:getNodeMsgHdfsResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/getNodeMsgHdfs/Fault/IOException"/>
</operation>
<operation name="findFileIsExit">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/findFileIsExitRequest" message="tns:findFileIsExit"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/findFileIsExitResponse" message="tns:findFileIsExitResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/findFileIsExit/Fault/IOException"/>
</operation>
<operation name="downloadFile">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/downloadFileRequest" message="tns:downloadFile"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/downloadFileResponse" message="tns:downloadFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/downloadFile/Fault/IOException"/>
</operation>
<operation name="getFileMetaData">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/getFileMetaDataRequest" message="tns:getFileMetaData"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/getFileMetaDataResponse" message="tns:getFileMetaDataResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/getFileMetaData/Fault/IOException"/>
</operation>
<operation name="createDirOnHDFS">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/createDirOnHDFSRequest" message="tns:createDirOnHDFS"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/createDirOnHDFSResponse" message="tns:createDirOnHDFSResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/createDirOnHDFS/Fault/IOException"/>
</operation>
<operation name="renameFile">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/renameFileRequest" message="tns:renameFile"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/renameFileResponse" message="tns:renameFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/renameFile/Fault/IOException"/>
</operation>
<operation name="loadFile">
<input wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/loadFileRequest" message="tns:loadFile"/>
<output wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/loadFileResponse" message="tns:loadFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServiceServer.webhdfs.cgwx.com/FileOp/loadFile/Fault/IOException"/>
</operation>
</portType>
<binding name="FileOpImplPortBinding" type="tns:FileOp">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getUnderDirAllFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="findLocationOnHadoop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="watchFileLastModifyTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="uploadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="deleteFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getNodeMsgHdfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="findFileIsExit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="downloadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getFileMetaData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="createDirOnHDFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="renameFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="loadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FileOp">
<port name="FileOpImplPort" binding="tns:FileOpImplPortBinding">
<soap:address location="http://localhost:8080/services/FileOp"/>
</port>
</service>
</definitions>